@model Jeo_sPizza.Models.Pizza

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraToppings)
        </dt>
        <dd class="col-sm-10">

            @if (Model.ExtraToppings == true)
            {
                <p>Added Extra toppings</p>
            }
            else
            {
                <p>No Extra toppings</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
  
    <a  id="back" asp-action="PizzaSelection">Back to List</a>
</div>
